main {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.map {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 100%;
}
iframe {
  width: 100%;
  align-self: center;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  color: #ffffff; 
  background-color: #eb1c24;
  font-family: 'Open Sans', sans-serif;
  justify-content: space-around;
  padding: 10px 5px 10px 5px;
}
.hours {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-align: center;

}
.hours p {
  margin-top: 4px;
  margin: 0;
  font-variant: small-caps;
}
.hours span {
  text-decoration: underline;
  padding-bottom: 5px;
}
.fb__box {
  margin-top: 4px;
  font-size: .8rem;
  display: flex;
  flex-direction: row;
  font-size: .9rem;
  text-align: center;
}
.fb__box a {
  transition: all .2s ease-in-out;
}
.fb__box a:hover {
  transform: scale(1.2);
}
.fb__img {
  max-width: 3.5em;
  padding-right: 5px;
}
.phone__box {
  display: flex;
  flex-direction: column;
  font-size: .9rem;
  text-align: center;
}
.phone-icon {
  max-width: 3.9em;
  padding-left: 10px;
}
.Contact__info {
  display: flex;
  flex-direction: column;
}
.Contact__info p {
  font-variant: small-caps;
  text-align: center;
  text-decoration: underline;
  margin: 0;
  font-size: 1rem;
  padding-bottom: 5px;
}
.Address__Info {
  display: none;
}
/* Class Names: Map|Contact|Hours|fb__box|fb__img|phone__box|  */
@media (min-width: 768px) {
  .Address__Info {
    display: flex;
    flex-direction: column;
  }
  .Address__Info p {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.3rem;
    text-align: center;
    text-decoration: underline;
    font-variant: small-caps;
  }
  address p {
    margin: 0 !important;
  }
  address {
    padding-top: 5px;
    margin-top: 5px;
    font-size: 1.3rem;
    align-self: center;
    font-variant: small-caps;
  }
  .fb__box {
    margin-top: 10px;
  }
  iframe {
    height: 300px;
  }
  .contact {
    padding: 25px;
  }
  .hours {
    font-size: 1.3rem;
  }
  .hours p {
    margin-top: 5px;
  }
  .Contact__info p {
    font-size: 1.3rem;
  }
  .phone-icon {
    max-width: 5.0em;
  }
  .fb__img {
    max-width: 4.5em;
    padding-right: 5px;
  }
  
}
@media (min-width: 992px) {
  .Address__Info p {
    margin-top: 0;
  }
  .map {
    padding: 0px;
  }
  iframe {
    width: 100% !important;
  }
  
}
@media(min-width: 1024px) {
  iframe {
    width: 600px;
    height: 500px;
  }
  
}
@media (min-width: 1200px) {
  address {
    margin-top: 5px;
    font-size: 1.8rem;
    align-self: center;
    font-variant: small-caps;
  }
  .hours span, .Address__Info p, .Contact__info p{
    font-size: 1.6rem;
  }
  .hours {
    font-size: 1.8rem;
  }
  .fb__img {
    padding-top: 5px;
    max-width: 7em;
    padding-right: 15px;
  }
  .phone-icon {
    padding-top: 5px;
    max-width: 7.5em;
    padding-left: 20px
  }
  iframe {
    height: 350px;
    width:  500px;
  } 
}