@import url("./Components/Logo.css"); 
@import url("./Components/ContactInfo.css");
@import url("./Components/Footer.css");
@import url("./Components/Sale.css");
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

.border__box {
  border: 2px solid black;
  box-shadow: 0 10px 6px -6px rgba(119, 119, 119, .9); 
  border-radius: .11rem;
}
.Tag__line {
  padding: 15px;
  color: #ffffff;
  background-color: #1565c0;
  font-variant: small-caps;
  text-align: center;
  line-height: 1.6rem;
  word-spacing: .11rem;
  font-size: 1.1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  font-family: 'Open Sans', sans-serif;
  align-self: center;
  margin: 0;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
}
.new-site {
  text-align: center;
  background-color: #1565c0;
  padding: 5px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: .6rem;
  word-spacing: .12rem;
  letter-spacing: .1rem;
}
@media (min-width: 412px) {
  .new-site {
    font-size: .7rem
  }
}
@media (min-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    width: 750px;
  }
  .Tag__line {
    padding: 20px;
    font-size: 2rem;
    padding-right: 90px;
    padding-left: 90px;
  }
  .new-site {
    font-size: 1.1rem
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .Tag__line {
    padding-right: 130px;
    padding-left: 130px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    padding-left: 120px;
    padding-right: 120px;
  }
  .Tag__line {
    padding: 40px;
    padding-right: 200px;
    padding-left: 200px;
    font-size: 2.5rem;
    word-spacing: .6rem;
    line-height: 2rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

